/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
}

a, button {
    cursor: pointer;
}

a, a:hover {
    text-decoration: none;
    color: #21759b;
}

img {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
    font-weight: bold;
}

body, textarea, input, button, select, keygen, legend {
    font: 12px/1.14 arial, \5b8b\4f53;
    color: #333;
    outline: 0;
}

body {
    background: #fff;
}

/* 统一清除浮动 */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/* 布局 */
/* topbar */
.g-topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 1030px;
    height: 27px;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFF5F5F5'); /* IE6、7 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFF5F5F5'); /* IE8 */
    background: -webkit-linear-gradient(to bottom, #fefefe, #f5f5f5);
    background: linear-gradient(to bottom, #fefefe, #f5f5f5);
}

.g-topbar a {
    color: #666666;
}
.g-topbar .left, .g-hd .left, .g-hd .right {
    float: left;
    margin-left: 20px;
    font-size: 11px;
}

.g-topbar .left {
    position: relative;
    margin-left: 23px;
}

.g-topbar .left li, .g-topbar .right li {
    display: inline-block;
    *display: inline; /* IE6、7 */
    *zoom: 1;
    padding: 3px;
    margin-left: 10px;
}

.g-topbar .left .netease {
    padding-left: 5px;
    width: 43px;
}

.g-topbar .left .netease:hover {
    border: 1px solid #cccccc;
}

.g-topbar .right {
    float: right;
    margin-right: 14px;
}

.g-topbar .right li:first-child {
    padding: 0 13px 0 3px;
    border-right: 1px solid #a4a4a4;
}

.g-topbar .right li:last-child {
    padding: 0 3px 0 12px;
    border-left: 1px solid #a4a4a4;
}
.g-topbar .m-subnav {
    position: absolute;
    margin-left: -6px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    width: 60px;
}

.g-topbar .m-subnav li {
    display: block;
    padding: 8.5px;
    margin-left: 0;
}

.g-topbar .m-subnav li:last-child {
    border-top: 1px solid #cccccc;
}
.g-topbar .left li:hover, .g-topbar .m-subnav li:hover, .m-list .more ul li:hover {
    background-color: #939393;
}

.g-topbar ul {
    margin-top: 5px;
}

/* 鼠标悬停 */
.g-topbar .left li:first-child:hover ul {
    display: block;
}

.g-topbar img, .g-bd .g-side img, .g-ft img {
    margin-right: 5px;
}

/* header */
.g-hd {
    margin: 27px auto 0;
    padding-top: 8px;
    width: 1030px;
    height: 69px;
    box-sizing: border-box;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFE4E4E4', endColorstr='#FFd7d7d7'); /* IE6、7 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFE4E4E4', endColorstr='#FFd7d7d7'); /* IE8 */
    background: -webkit-linear-gradient(to bottom, #e4e4e4, #d7d7d7);
    background: linear-gradient(to bottom, #e4e4e4, #d7d7d7);
}

.g-hd button {
    margin-top: 8px;
    width: 87px;
}

.g-hd .left {
    margin-left: 24px;
    margin-right: 20px;
}
/* body */
.g-bd {
    padding-top: 11px;
    width: 990px;
}

.g-side {
    float: left;
    width: 145px;
}

.g-main {
    float: left;
    width: 835px;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
}

.g-main h2 {
    margin: 20px 0 24px 20px;
}

.g-main .left {
    float: left;
    margin-left: 20px;
    width: 550px;
}
.g-main .right {
    float: right;
    margin-right: 20px;
    width: 225px;
    background-color: #fafafa;
}

.g-main .right dl {
    margin-top: 30px;
}

.g-main .right dt {
    float: left;
}

.g-main .right dl dd {
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 100px;
}

/* footer */
.g-ft {
    width: 50%;
    margin-top: 30px;
    text-align: center;
}

.g-ft a {
    color: #7b7b7b;
}

/* 模块 */
.m-tab0, .m-tab1, .m-tab2 {
    margin-bottom: 20px;
    width: 85%;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
}

.m-tab0 li, .m-tab1 li, .m-tab2 li {
    padding: 10px 10px 10px 25px;

}

.m-tab0 li:hover, .m-tab1 li:hover, .m-tab2 li:hover {
    background-color: #f5f5f5;
}

.m-tab0 li:first-child, .m-tab1 li:first-child, .m-tab2 li:first-child {
    border-bottom: 1px solid #bbbbbb;
    padding-left: 5px;
    background-color: #ececec;
    color: #333333;
    font-weight: bold;
}

.m-tab3 {
    background-color: #f7f7f7;
    width: 180px;
    font-size: 0; /* 主流高级浏览器 */
    *word-spacing: -1px; /* IE 6/7 */
}

.m-tab3 .selected {
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: -1px;
    background-color: #FFFFFF;
}
.m-tab3 li {
    display: inline-block;
    *display: inline; /* IE6/7 */
    *zoom: 1;
    padding: 5px 20px;
    border: 1px solid #bbbbbb;
    border-bottom: none;
    font-size: 14px;
    width: 48px;
}

.m-tab3 li:first-child {
    border-right: none;
}
.m-editor {
    padding-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #bbbbbb;
}

.m-editor .editor {
    padding: 6px 8px 8px;
    background-color: #ececec;
}

.m-editor input, .m-editor textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 3px;
    width: 95%;
}

.m-editor input {
    background-color: #f8f8f8;
    border-width: 0;
}

.m-editor input::-webkit-input-placeholder {
    /*  Chrome、Safari */
    color: #333333;
}

.m-editor input::-moz-placeholder {
    /* Firefox */
    color: #333333;
}

.m-editor input:-ms-input-placeholder {
    /*  IE */
    color: #333333;
}

.m-editor textarea {
    min-height: 100px;
}

.m-editor button {
    float: right;
    margin: 6px 8px 8px 7px;
    width: 59px;
    padding: 4px 10px;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFffffff', endColorstr='#FFefefef'); /* IE6、7 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFffffff', endColorstr='#FFefefef'); /* IE8 */
    background: -webkit-linear-gradient(to bottom, #ffffff, #efefef);
    background: linear-gradient(to bottom, #ffffff, #efefef);

}

.m-list {
    margin-top: 9px;
    margin-left: 20px;
}
.m-list .item {
    position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-right: 23px;
    border-bottom: 1px dashed #d8e0e5;
}

.m-list dl dt {
    float: left;
}

.m-list dl dd {
    float: right;
}


.m-list .item .data {
    margin-top: 10px;
    margin-left: 22px;
}

.m-list .title input, .m-opt input {
    position: relative;
    margin-right: 10px;
    top: 2px;
}

.m-list input[type="checkbox"], .m-opt input[type="checkbox"] {
    visibility: hidden;
}
.item .data span {
    margin-right: 16px;
}

.item .data span:last-child {
    margin-left: 24px;
}

.m-list .u-checkbox {
    vertical-align: top;
}
.m-opt {
    margin-top: 20px;
    margin-left: 20px;
}

.m-opt .u-checkbox {
    vertical-align: text-top;
}
.m-opt button {
    margin-left: 20px;
    border-color: #21759b;
}

.m-ftnav {
    margin-top: 40px;
}

.m-ftnav li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 20px;

}

.m-copyright {
    margin-top: 20px;
}

/* 原件 */

/* 按钮 */
.u-button {
    padding: 3px;
}

/* 选择框 */
.u-checkbox {
    display: inline-block;
    *display: inline; /* IE 6/7 */
    *zoom: 1;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border: 1px solid #1c5180;
    background-color: #f5f5f4;
}

/* 对号 */
.u-checked {
    display: inline-block;
    position: relative;
    top: -5px;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    transform: rotate(-45deg);
}
/* 下拉小图标 */
.u-downicon, .u-upicon {
    height: 0;
    line-height: 0;
    position: relative;
    left: 4px;
    top: 8px;
}

.u-downicon:before, .u-upicon:before {
    border-top: 4px solid #c5c5c5;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    content: "";
}

/* 上拉小图标 */
.u-upicon:before {
    border-bottom: 4px solid #c5c5c5;
    border-top: none;
}
/* function */
.f-mg0 {
    margin: 0 auto;
}

.f-ml1 {
    margin-left: -1px;
}

.f-tac {
    text-align: center;
}

/* color */
.f-cl6 {
    color: #666;
}

.f-cl7b {
    color: #7b7b7b;
}

.f-clf70 {
    color: #f70;
}

.f-cl7d {
    color: #7d7d7d;
}

.f-cla4 {
    color: #a4a4a4;
}

.f-cl51 {
    color: #515151;
}

.f-21759b {
    color: #21759b;
}

/* font */
.f-fs14 {
    font-size: 14px;
    color: black;
}

.f-fs16 {
    font-size: 16px;
}

.f-fs18 {
    font-size: 18px;
}
/* 状态 */
.z-hidden {
    display: none;
}