/* Reset */

html {
  -webkit-text-size-adjust: 100%;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input {
  padding: 0;
  margin: 0;
}

body,
textarea,
select,
input,
button {
  font-size: 12px;
  color: #222;
}

html,
body {
  width: 100%;
  min-height: 100%;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

em,
i {
  font-style: normal;
  text-align: left;
}

html,
body,
img,
iframe {
  border: 0;
}

textarea {
  resize: none;
  overflow: auto;
}
button {
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}

li,
s {
  list-style: none;
}

body,
div,
span,
p,
i,
em,
strong {
  cursor: default;
}

a[hidefocus] {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

a,
a * {
  cursor: pointer;
}

/* Function */

.f-cb:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
  content: '.';
}

.f-fl {
  float: left;
}

.f-fr {
  float: right;
}

.f-ib {
  display: inline-block;
}

.f-pr {
  position: relative;
}

.f-pa {
  position: absolute;
}

.f-hc {
  position: absolute !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translate(-50%, -50%);
  transform: translateX(-50%);
}

/* 左右居中 */

.f-vc {
  position: absolute !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%, -50%);
  transform: translateY(-50%);
}

/* 上下居中 */

/* flex实现的垂直居中，可以避免定位带来的一些问题 */

.f-fvc {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.f-vhc {
  position: absolute !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* 上下左右 居中 */

.f-hide,
.js-hide {
  display: none !important;
}

.f-vhide,
.js-vhide {
  visibility: hidden;
}

.f-oh {
  overflow: hidden;
}

.f-tdu,
.f-tdu:hover {
  text-decoration: underline;
}

.f-pre {
  word-wrap: break-word;
  word-break: break-all;
}

.f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.f-thide2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.f-thide3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.f-nw {
  white-space: nowrap;
}

.f-tid {
  text-indent: -9999px;
}

.f-brk {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.f-vama * {
  vertical-align: middle;
}

.f-cp {
  cursor: pointer;
}

.f-dft {
  cursor: default;
}

.f-tc {
  text-align: center;
}

.f-bd {
  position: relative;
}

.f-bd * {
  position: relative;
  z-index: 2;
}

.f-bd:after {
  position: absolute;
  z-index: 1;
  content: '';
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  pointer-events: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(.5);
  -moz-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: 0 0;
}

.f-blk,
.f-img {
  display: block;
  width: 100%;
  height: 100%;
}

.f-sep {
  margin-left: 5px;
  margin-right: 5px;
}

.f-mgt5 {
  margin-top: 5px;
}

.f-mgt6 {
  margin-top: 6px;
}

.f-mgt10 {
  margin-top: 10px;
}

.f-mgt15 {
  margin-top: 15px;
}

.f-mgt20 {
  margin-top: 20px;
}

.f-mgt30 {
  margin-top: 30px;
}

.f-mgt35 {
  margin-top: 35px;
}

.f-mgt40 {
  margin-top: 40px;
}

.f-mgt50 {
  margin-top: 50px;
}

/* Font */

.f-ff0 {
  font-family: Arial, Helvetica, sans-serif;
}

.f-ff1 {
  font-family: simsun,\5b8b\4f53;
}

.f-fw0 {
  font-weight: normal;
}

.f-fw1 {
  font-weight: bold;
}

.f-fs12 {
  font-size: 12px;
}

.f-fs14 {
  font-size: 14px;
}

.f-fs16 {
  font-size: 16px;
}

.f-fs17 {
  font-size: 17px;
}

.f-fs11 {
  font-size: 11px;
}

.f-fs13 {
  font-size: 13px;
}

.f-fs15 {
  font-size: 15px;
}

.f-fs18 {
  font-size: 18px;
}

.s-fc0 {
  color: #fff;
}

.s-fc1 {
  color: #333;
}

.s-fc2,
a {
  color: #2197b9;
}

/* blue */

.s-fc3 {
  color: #666;
}

.s-fc4 {
  color: #999;
}