.u-icn-arrdown,
.m-get .lucky,
.m-get .gift {
  background: url(../img/sprite/sprite_2x.png) no-repeat 0 9999px;
  background-size: 214px auto;
}

/* Reset */

a {
  color: #328ad4;
}
body {
  font-family: '华文细黑';
}

/* Background */


.s-bgc1,
.n-potral h2 em {
  background-color: #cf453a;
}

/* Units */

.u-activelink {
  margin: 35px 0 45px;
  text-align: center;
}

.u-activelink a {
  text-decoration: underline;
}

.u-title {
  text-align: center;
  color: #590700;
  overflow: hidden;
}

/* ?????????*/

.u-title h4 {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}

.u-title h4:before,
.u-title h4:after {
  position: absolute;
  top: 10px;
  content: '';
  display: block;
  height: 1px;
  width: 1000px;
  background-color: #590700;
  transform: scaleY(.5);
}

.u-title h4:before {
  left: 0;
  transform: rotateZ(180deg) scaleY(.5);
  transform-origin: 0 center;
}

.u-title h4:after {
  left: 100%;
}

/*.u-title.z-light h4:before,.u-title.z-light h4:after{background-color:#c5a79e;} /*ǳ???*/

.u-more {
  padding: 30px 0 0;
  text-align: center;
}

.u-more a {
  font-size: 14px;
  color: #b39c93;
}

.u-more .u-icn-arrdown {
  margin-left: 5px;
  vertical-align: middle;
}

.u-btmlink {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  bottom: -50px;
  height: 50px;
  line-height: 50px;
  background-color: #cf453a;
  font-size: 17px;
  color: #fff;
  text-align: center;
  transition: all .3s;
}

.u-btmlink.z-show {
  transform: translateY(-100%);
}

.u-icn {
  display: inline-block;
}

.u-icn-arrdown {
  width: 10px;
  height: 6px;
  background-position: 0px -335.5px;
}

/* Layout */

/* user info */

.m-user {
  height: 46px;
  line-height: 46px;
  background: url(../img/index/hd_bg@2x.png) repeat-x;
  font-size: 18px;
  border-bottom: 1px solid #cc3e39;
}
.m-user h1 {
  margin: 0 17px;
}
.m-user span {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
.m-user .back,.m-user .playing{
  background-image: url(../img/common/icon_bg@2x.png);
  background-size: 100%;
}
.m-user .back img{
  width: 20px;
  top: -4px;
  left: -2px;
}
.m-user .playing img{
  width: 17px;
  top: -5px;
  left: -1px;
}
/* banner */
.m-banner img {
  display: block;
  width: 100%;
  height: auto;
}
.m-banner ul {
  margin: 0 10px;
  bottom: 50px;
  width: 100%;
}

.m-banner li {
  margin-top: 6px;
}
.m-banner span {
  text-align: center;
  width: 40px;
  height: 17px;
  background-color: #3f8acf;
  border-radius: 2px;
  margin-right: 8px;
}
.m-banner li:first-child span {
  background-color: #cc3e39;
}
.m-banner .mask{

}
/* 登录 */

.m-log {
  padding-top: 59px;
  margin-top: -40px;
  background-color: #ebeced;
}
.m-log h2 {
  line-height: 18px;
  margin-bottom:20px;
}
.m-log button{
  width: 182px;
  height: 50px;
  margin-bottom: 58px;
  background: -webkit-linear-gradient(to top,#5599d8,#337bbd);
  background: linear-gradient(to top,#5599d8,#337bbd);
  border-bottom:1px solid #fafafa;
  border-radius: 3px;
}

/* 抽奖说明 */
.m-intro {
  padding:15px 13px 15px 10px;
  background-color: #e0e2e4;
}
.m-intro h3 {
  font-size: 13px;
  line-height: 12px;
  margin-bottom: 5px;
}
.m-intro li {
  line-height: 15px;
  margin-top: 5px;
}