/*
	reset styles
 */
*{
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
li {
	display: inline-block;
}
a {
    color: #fff;
	text-decoration: none;
}

/*
	header
 */
#container{
	background-color: #EEEEEE;
}
header{
	height: 80px;
	background-color: #522A5C;
	position: relative;
}
.nav_wrapper {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
#logo_container {
	line-height: 80px;
	width: 135px;
}
#logo_container img {
	vertical-align: middle;
	border-radius: 50%;
}
 ul.nav{
    position: absolute;
    bottom: 5px;
    right: 0;
}
 ul.nav li {
	font-family: 宋体;
	font-size: 14px;
	margin-left: 28px;
}
#icon_github {
    position: absolute;
    right: 10px;
    bottom: 0;
}
#icon_github a {
	display: block;
}
@media (max-width: 980px) {
    .icon-github {
        display: none;
    }
}
/*
	figure
 */
figure {
	position: relative;
}
figure img {
	width: 100%;
}
.banner figcaption {
	position: absolute;
	bottom: 0;
	right: 184.5px;
	width: 300px;
	padding: 10px 10px 30px;
	background: -moz-linear-gradient(top,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* W3C */
}
.banner h1 {
	font-size: 14px;
	margin-bottom: 12px;
	text-align: right;
}
.banner p {
	font-size: 12px;
	line-height: 150%;
	text-indent: 2em;
}
/*
	content
 */
#content{
	width: 990px;
	overflow: hidden;
	margin: 0 auto;	
}
.content {
	width: 980px;
	margin: 0 auto;
}
.center-right {
	float: right;
	width: 487px;
	background-color: #fff;
	margin-bottom: 100px;
}
.info {
	position: relative;
	margin: 0 130px 150px 50px;
}
.info h1 {
	position: absolute;
	float: left;
}
.info p {
	position: absolute;
}
#content.blog {
	margin-top: 20px;
	overflow: visible;
}
#content:after {
	content:".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
#content figure {
	float: left;
	width: 320px;
	background-color: white;
	margin:10px 5px -1000px 5px;
	padding-bottom: 1000px;
}
#content figure img {
	width: 300px;
	height: 180px;
	display: block;
	margin: 5px auto;
}
#content figcaption {
	font-size: 12px;
	line-height: 170%;
	margin-top: 15px;
	padding-bottom: 25px;
	padding-left: 30px;
	padding-right: 30px;
}
#information,.content {
	background-color: white;
	text-align: center;
	margin-top: 100px;
	color: black;
}
#information img,.info img {
	border-radius: 50%;
	margin: -50px auto 50px;
}
#information h1,.content h1 {
	font:20px 'Century Gothic';
}
#information p {
	margin:0 auto;
	width: 600px;
	font-size: 14px;
	margin-top: 30px;
	padding-bottom: 100px;
}
.main-content {
	width: 65%;
	float: left;
	margin-bottom: 300px;
}
.head-first {
	position: absolute;
	left: -50px;
	top: 20px;
	width: 50px;
	background: #fff;
	text-align: center;
	font-size: 14px;
}
.datetime {
	height: 40px;
	line-height: 40px;
	background: #47456D;
	color: #fff;
}
.tag {
	height: 40px;
	line-height: 40px;
	background: #92C0EF;
	color: #fff;
}
.aside {
	width: 31%;
	float: right;
}
article {
	background-color: white;
	padding: 10px;
	position: relative;
}
article h1 {
	font-size: 16px;
	margin-bottom: 10px;
}
article h2 {
	font-size: 12px;
	color: #666;
	margin-bottom: 10px;
}
article p {
	text-indent: 2em;
}
.article_info {
	text-align: right;
	color: #999999;
}
ul.page {
	text-align: center;
	margin-top: 20px;
}
.page li {
	background-color: white;
	padding: 15px;
	font-size: 12px;
}
.page a[href] {
	color: black;
}
.page a {
	color: gray;
}
li.selected {
	background-color: #A660B7;
}
li.selected a {
	color: white;
}
/*
	aside
*/
.aside aside {
	width: 100%;
	background-color: white;
	margin-bottom: 10px;
	float: right;
}
form {
	border: #e2e2e2 1px solid;
	margin: 20px;
	height: 40px;
	position: relative;
}
form input {
	height: 40px;
	position: absolute;
}
form input[type="search"] {
	top: 0;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	border: none;
}
form input[type="search"]:focus {
	background-image: none;
}
form input[type="button"] {
	top: 0;
	right: 0;
	width: 80px;
	border: none;
	font-size: 18px;
	color: #fff;
	background: #e2e2e2;
}
.aside-nav li {
	display: block;
	border-left:5px solid #DFC6E6;
	border-top: 1px solid #DDDDDD;
	padding: 15px;
}
.aside-nav li:hover {
	border-left-color:#522A5C;
}
li.aside-nav-last {
	border-bottom: 1px solid #DDDDDD;
}
.aside-nav li a {
	color: #888;
	display: block;
}
table {
	text-align: center;
	margin: 5px auto;
}
table a {
	color: #888;
}
th,td {
	padding: 10px 5px;
}
.cal caption [rel="prev"] {
	float: left;
	margin-left: 02em;
}
.cal caption [rel="next"] {
	float: right;
	margin-right: 0.2em;
}
table.cal {
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 20px;
}
.caculator tr {
	border-bottom: 1px solid #EEEEEE;
}
td.selected {
	background: #773B87;
}
.tags p,.tags h1 {
	padding: 10px;
}
.tags span {
	padding: 5px;
}
.tag-item {
	color: #47456D;
	font-size: 12px;
}
.tag-more {
	font-size: 30px;
}
.tag-less {
	font-size: 20px;
}
/*
	gallery
*/
#main-content.gallery {
	margin-top: 80px;
	padding: 20px;
	background-color: white;
	position: relative;
	width: 65%;
}
#main-content div.main-item {
	overflow: hidden;
	-webkit-column-count: 2;
}
#main-content div.main-item figure {
	width: 300px;
	float: none;
	margin: 10px;
	padding-bottom: 5px;
	display: inline-block;

}
.nav-tags {
	position: absolute;
	top: -51px;
	left: -1px;
	background-color: white;
	border-bottom: 1px solid #cccccc;
}
.nav-tags li {
	padding: 8px;
	border-right: 1px solid #cccccc;

}
.nav-tags li a {
	color: black;
	font-size: 30px;
	display: block;
}
/*
	footer
 */
footer{
	height: 395px;
	background-color: #000000;
	text-align: center;
	color: white;

}
ul.footer_nav {
		position: relative;
		top: 10px;
		padding-bottom: 10px;
}
.link {
	width: 80%;
	margin:30px auto;
	overflow: hidden;
	padding-top: 20px;
	border-top: 1px solid white;
}
.link li {
	display: list-item;
}
.link section {
	float: left;
	width: 215px;
}
section h1 {
	font-size: 14px;
	margin-bottom: 20px;
}
.copyright p {
	margin-top: 80px;
	margin-bottom: 30px;
}
